
#logo {
    background-color: #017CC2;
}
#logo{
	padding-left: 80px; 
}

#first3{
	float:left;
	padding-left: 200px;
	
}

#last2{
	padding-right: 50px; 
}

#button5{
	padding-left: 90px; 
}